---
- name: install required packages
  yum:
    name:
      - wget
      - open-vm-tools
      - openssh-server
      - vim
    state: present
  become: true

- name: Add ansible user
  user:
    name: "{{ bootstrap_ansible_user }}"
    create_home: true
    group: wheel
    password: "{{ bootstrap_ansible_user_password | password_hash('sha512') }}"
    shell: /bin/bash
    state: present
    update_password: always

- name: Add ansible user public key
  authorized_key:
    user: "{{ bootstrap_ansible_user }}"
    key: "{{ bootstrap_ansible_user_ssh_public_key }}"
    manage_dir: true
    comment: ansible
    exclusive: true
    state: present
  when: bootstrap_ansible_user_ssh_public_key | length > 0

- name: Add ansible user to sudo
  lineinfile:
    path: "/etc/sudoers.d/{{ bootstrap_ansible_user }}"
    line: "{{ bootstrap_ansible_user }} ALL=(ALL) NOPASSWD: ALL"
    state: present
    mode: 0440
    create: true
    validate: 'visudo -cf %s'
  when: bootstrap_ansible_allow_password_less_sudo
  become: true

- name: Set includedir in sudoers
  lineinfile:
    dest: /etc/sudoers
    line: "#includedir /etc/sudoers.d"
    state: present
    validate: "/usr/sbin/visudo -cf %s"
  when: bootstrap_ansible_allow_password_less_sudo
  become: true

- name: Check ssh config
  lineinfile:
    dest: /etc/ssh/sshd_config
    line: "PubkeyAuthentication yes"
    state: present
  notify: "Restart sshd"

- name: Ensue sshd started
  service:
    name: sshd
    enabled: true
    state: started
  become: true
