---
- name: Install required packages.
  apt:
    name:
      - wget
      - openssh-server
      - vim
    state: present

- name: Add ansible user
  user:
    name: "{{ bootstrap_ansible_user }}"
    create_home: true
    groups:
      - sudo
    shell: /bin/bash
    append: true
    state: present
  when: bootstrap_ansible_user | length > 0
